<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Meal Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('recipe_list') }}">Recipe List</a>
        <a href="{{ url_for('new_recipe') }}">Add New Recipe</a>
        <a href="{{ url_for('meal_plan_list') }}">Meal Plans</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
