__pycache__
# Python
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info

# Docker
.dockerignore

# VS Code
.vscode/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Generated CSS
meal_planner_app/static/css/dist/

# Log files
*.log
